[data-theme="dark"] {
    /* Main palette colors */
    --primary-color: var(--dark-gray);          /* Dark gray */
    --secondary-color: var(--gray);             /* Slightly lighter dark gray */
    --accent-color: var(--pastel-purple);       /* Soft purple */
    --background-color: var(--black);           /* Very dark gray */
    --neutral-color: var(--gray);               /* Neutral dark gray */
    --secondary-color-light: var(--dark-blue);  /* Light shade of secondary color */

    /* Semantic Colors */
    --info-color: var(--blue);                  /* Dodger blue */
    --info-background: var(--watercolor-blue);  /* Alice blue */
    --success-color: var(--green);              /* Lime green */
    --success-background: var(--watercolor-green); /* Honeydew */
    --danger-color: var(--red);                 /* Tomato */
    --danger-background: var(--watercolor-red); /* Misty rose */
    --warning-color: var(--yellow);             /* Gold */
    --warning-background: var(--watercolor-yellow); /* Cornsilk */

    /* Text colors */
    --light-text: var(--chalk-white);           /* White for text on dark backgrounds */
    --dark-text: var(--light-gray);             /* Light gray for main text */

    /* Component-specific colors */
    --button-hover-bg: var(--dark-purple);      /* Darker purple for button hover */
    --input-focus-border: var(--pastel-purple); /* Adjusted to match the accent color */
    --button-click-bg: var(--purple);

    /* Typography */
    --font-family-sans-serif: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    --font-family-serif: "Merriweather", Georgia, serif;
    --font-family-monospace: "Fira Code", "Courier New", monospace;

    /* Body styles */
    --body-bg: var(--background-color);
    --body-color: var(--dark-text);             /* Light gray for main text */

    /* Link styles */
    --link-color: var(--accent-color);
    --link-decoration: none;
    --link-hover-color: var(--pastel-purple);   /* Darker shade of purple for hover */

    /* Additional theme-specific variables */
    --header-bg: var(--primary-color);
    --header-color: var(--neutral-color);
    --footer-bg: var(--secondary-color);
    --footer-color: var(--primary-color);
    --button-primary-bg: var(--accent-color);
    --button-primary-color: var(--chalk-white);
    --card-bg: var(--dark-gray);                /* Dark gray for card background */
    --card-border: var(--neutral-color);

    /* Button specific variables */
    --button-padding: 10px 20px;
    --button-border-radius: 5px;
    --button-font-size: 1em;
    --button-primary-bg-color: var(--accent-color);
    --button-disabled-background: var(--neutral-color);

    /* Card specific variables */
    --card-box-shadow: var(--shadow-medium);
    --card-padding: 16px;
    --card-border-radius: 8px;
    --card-header-font-size: 1.5em;
    --card-header-margin-bottom: 12px;
    --card-content-margin-top: 8px;

    /* CardGroup Component Variables */
    --card-group-gap: 1rem;
    --card-min-width: 250px;
    --card-border-color: var(--gray);
    --card-header-color: var(--light-gray);
    --card-content-color: var(--chalk-grey);
    --card-content-font-size: 1rem;

    /* Input specific variables */
    --input-margin: 10px 0;
    --input-padding: 10px;
    --input-border: 1px solid var(--neutral-color);
    --input-border-radius: 4px;
    --input-font-size: 1rem;
    --input-focus-border-color: var(--accent-color);

    /* Dropdown specific variables */
    --dropdown-padding: 10px;
    --dropdown-border: 1px solid var(--neutral-color);
    --dropdown-border-radius: 4px;
    --dropdown-font-size: 1rem;
    --dropdown-background: var(--background-color);
    --dropdown-arrow: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 140,0 70,70" style="fill:%23E0E0E0;"/></svg>');
    --dropdown-focus-border-color: var(--accent-color);

    /* Modal specific variables */
    --modal-background: var(--background-color);
    --modal-border-radius: 10px;
    --modal-box-shadow: var(--shadow-large);
    --modal-width: 300px;
    --modal-z-index: 1000;
    --modal-header-padding: 16px;
    --modal-header-background: var(--primary-color);
    --modal-header-border-color: var(--neutral-color);
    --modal-header-font-size: 1.25em;
    --modal-body-padding: 16px;
    --modal-footer-padding: 16px;
    --modal-footer-background: var(--neutral-color);
    --modal-footer-border-color: var(--neutral-color);

    /* Notification specific variables */
    --notification-padding: 16px;
    --notification-background: var(--dark-text);
    --notification-border-color: var(--primary-color);
    --notification-font-size: 1em;
    --notification-success-background: var(--success-background);
    --notification-error-background: var(--danger-background);
    --notification-warning-background: var(--warning-background);
    --notification-success-text: var(--success-color);
    --notification-error-text: var(--danger-color);
    --notification-warning-text: var(--warning-color);

    /* Markdown Editor and Renderer Colors */
    --markdown-bg: var(--dark-gray);
    --markdown-color: var(--chalk-white);
    --markdown-keyword: var(--pastel-red);
    --markdown-string: var(--pastel-yellow);
    --markdown-number: var(--pastel-purple);
    --markdown-function: var(--pastel-green);
    --markdown-comment: var(--chalk-grey);
    --markdown-method: var(--pastel-cyan);
    --markdown-tag: var(--pastel-blue);
    --markdown-attribute: var(--pastel-red);
    --markdown-at-rule: var(--pastel-purple);
    --markdown-punctuation: var(--chalk-white);
    --markdown-property: var(--pastel-red);
    --markdown-value: var(--pastel-blue);
    --markdown-selector: var(--pastel-brown);
    --markdown-indentation: var(--chalk-grey);
    --markdown-text: var(--markdown-indentation);

    --spacing-none: 0;
    --spacing-extra-small: 5px;
    --spacing-small: 10px;
    --spacing-medium: 16px;
    --spacing-large: 20px;

    --border-radius: 5px;
}

/* Dark Theme Specific Styles */
[data-theme="dark"] .glow-effect {
    text-shadow: 0 0 5px var(--accent-color);
}

[data-theme="dark"] .neon-border {
    border: 2px solid var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
}

[data-theme="dark"] .dark-gradient {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}